## Canada COVID data processing

In [69]:
import pandas as pd
import os

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [70]:
path_canada = os.path.join(os.getcwd(), 'data', 'covid19canada.csv') 
url = 'https://health-infobase.canada.ca/src/data/covidLive/covid19.csv'
response = pd.read_csv(url)

In [71]:
response.head()

,pruid,prname,prnameFR,date,numconf,numprob,numdeaths,numtotal,numtested,numrecover,percentrecover,ratetested,numtoday,percentoday,ratetotal,ratedeaths,deathstoday,percentdeath,testedtoday,recoveredtoday,percentactive,numactive,rateactive,numtotal_last14,ratetotal_last14,numdeaths_last14,ratedeaths_last14
0,35,Ontario,Ontario,31-01-2020,3,0,0.0,3,NaN,NaN,NaN,NaN,3,300.0,0.02,0.0,0.0,0.0,NaN,NaN,100.0,3.0,0.02,NaN,NaN,NaN,NaN
1,59,British Columbia,Colombie-Britannique,31-01-2020,1,0,0.0,1,NaN,NaN,NaN,NaN,1,100.0,0.02,0.0,0.0,0.0,NaN,NaN,100.0,1.0,0.02,NaN,NaN,NaN,NaN
2,1,Canada,Canada,31-01-2020,4,0,0.0,4,NaN,NaN,NaN,NaN,4,400.0,0.01,0.0,0.0,0.0,NaN,NaN,100.0,4.0,0.01,NaN,NaN,NaN,NaN
3,35,Ontario,Ontario,08-02-2020,3,0,0.0,3,NaN,NaN,NaN,NaN,0,0.0,0.02,0.0,0.0,0.0,NaN,NaN,100.0,3.0,0.02,NaN,NaN,NaN,NaN
4,59,British Columbia,Colombie-Britannique,08-02-2020,4,0,0.0,4,NaN,NaN,NaN,NaN,3,300.0,0.08,0.0,0.0,0.0,NaN,NaN,100.0,4.0,0.08,NaN,NaN,NaN,NaN

In [72]:
response.columns

Index(['pruid', 'prname', 'prnameFR', 'date', 'numconf', 'numprob',
       'numdeaths', 'numtotal', 'numtested', 'numrecover', 'percentrecover',
       'ratetested', 'numtoday', 'percentoday', 'ratetotal', 'ratedeaths',
       'deathstoday', 'percentdeath', 'testedtoday', 'recoveredtoday',
       'percentactive', 'numactive', 'rateactive', 'numtotal_last14',
       'ratetotal_last14', 'numdeaths_last14', 'ratedeaths_last14'],
      dtype='object')

- `pruid`: province id
- **`prname`: (English )province name
- `prnameFR`: (French) province name
- **`date`: date reported
- **`numconf`: number of confirmed cases
- **`numprob`: number of probable cases
- **`numdeaths`: number of deaths
- **`numtotal`: total # of confirmed and probable cases
- **`numtested`: number of people tested
- **`numrecover`: number of people recovered
- **`percentrecover`: numrecover / numtotal
- `ratetested`: 
- **`numtoday`: number of new cases relative to yesterday
- `percentoday`:  percent change of new cases relative to yesterday
- `ratetotal`:
- `ratedeaths`:
- **`deathstoday`: number of deaths reported today
- `percentdeath`: 
- **`testedtoday`: number of people tested today
- `recoveredtoday`: number of people who have recovered today
- `percentactive`:

In [73]:
response = response.drop(columns=['pruid', 'prnameFR', 'percentoday',
                                  'ratetested', 'ratetotal', 'ratedeaths',
                                  'percentdeath', 'percentactive','numtotal_last14',
                                  'ratetotal_last14', 'numdeaths_last14', 'ratedeaths_last14'])

In [74]:
response['date'] = pd.to_datetime(response['date'], dayfirst=True)

In [75]:
response.dtypes

prname                    object
date              datetime64[ns]
numconf                    int64
numprob                    int64
numdeaths                float64
numtotal                   int64
numtested                float64
numrecover               float64
percentrecover           float64
numtoday                   int64
deathstoday              float64
testedtoday              float64
recoveredtoday           float64
numactive                float64
rateactive               float64
dtype: object

In [76]:
response.isnull().sum()

prname              0
date                0
numconf             0
numprob             0
numdeaths         109
numtotal            0
numtested          57
numrecover        524
percentrecover    629
numtoday            0
deathstoday       109
testedtoday        57
recoveredtoday    524
numactive         288
rateactive        141
dtype: int64

In [77]:
response.describe(include='all')

,prname,date,numconf,numprob,numdeaths,numtotal,numtested,numrecover,percentrecover,numtoday,deathstoday,testedtoday,recoveredtoday,numactive,rateactive
count,2172,2172,2172.000000,2172.000000,2063.000000,2172.000000,2.115000e+03,1648.000000,1543.000000,2172.000000,2063.000000,2115.000000,1648.000000,1884.000000,2031.000000
unique,15,157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,British Columbia,2020-06-14 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,157,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
first,NaN,2020-01-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,2020-07-29 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,8682.704420,2.833333,687.716917,8685.536832,2.076428e+05,6763.832524,78.061393,106.317680,8.644207,3731.976359,127.869539,3343.380042,25.070931
std,NaN,NaN,21783.227624,28.165429,1837.205525,21784.461145,5.391360e+05,15889.190015,26.318383,280.548132,27.137710,8696.081964,903.948171,8361.023347,63.179197
min,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,-1.000000,-2.000000,-20682.000000,-5.000000,0.000000,0.000000
25%,NaN,NaN,13.000000,0.000000,0.000000,13.000000,1.397000e+03,13.000000,66.135000,0.000000,0.000000,11.000000,0.000000,3.000000,0.100000
50%,NaN,NaN,256.000000,0.000000,3.000000,257.000000,2.001300e+04,259.000000,88.430000,1.000000,0.000000,323.000000,0.000000,51.500000,3.610000
75%,NaN,NaN,2470.000000,0.000000,117.000000,2483.750000,1.002010e+05,2735.750000,98.080000,32.250000,1.000000,2088.000000,41.000000,657.250000,15.770000
max,NaN,NaN,115456.000000,833.000000,8917.000000,115470.000000,3.946565e+06,100465.000000,100.000000,2760.000000,222.000000,78091.000000,23853.000000,35001.000000,355.240000

In [78]:
response = response.sort_values(by=['prname', 'date'])

In [79]:
# Impute missing values

provinces = response['prname'].value_counts().index
impute_cols = ['numdeaths', 'numtested', 'deathstoday',
               'testedtoday', 'recoveredtoday', 'numrecover', 'percentrecover']

for p in provinces:
    for colname in impute_cols:
        response.loc[response['prname']==p, colname] = response.loc[response['prname']==p, colname].ffill().fillna(0)

In [80]:
response.isnull().sum()

prname              0
date                0
numconf             0
numprob             0
numdeaths           0
numtotal            0
numtested           0
numrecover          0
percentrecover      0
numtoday            0
deathstoday         0
testedtoday         0
recoveredtoday      0
numactive         288
rateactive        141
dtype: int64

In [81]:
response.to_csv(path_canada, index=False)

## World COVID data processing

In [82]:
path_world = os.path.join(os.getcwd(), 'data', 'covid19world.csv') 
url_world = 'https://covid.ourworldindata.org/data/owid-covid-data.csv'
response_world = pd.read_csv(url_world)
response_world.head()

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,new_tests,total_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,tests_units,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
0,AFG,Asia,Afghanistan,2019-12-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38928341.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
1,AFG,Asia,Afghanistan,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,38928341.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
2,AFG,Asia,Afghanistan,2020-01-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,38928341.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
3,AFG,Asia,Afghanistan,2020-01-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,38928341.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
4,AFG,Asia,Afghanistan,2020-01-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,38928341.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83

In [83]:
response_world = response_world.drop(
    columns=['new_tests_smoothed', 'new_tests_smoothed_per_thousand', 'tests_units',
             'stringency_index', 'population', 'population_density', 'median_age',
             'aged_65_older', 'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
             'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
             'male_smokers', 'handwashing_facilities', 'life_expectancy']
)

In [84]:
response_world['date'] = pd.to_datetime(response_world['date'], yearfirst=True)
response_world = response_world.sort_values(by=['location', 'date'])

In [85]:
response_world.dtypes

iso_code                              object
continent                             object
location                              object
date                          datetime64[ns]
total_cases                          float64
new_cases                            float64
total_deaths                         float64
new_deaths                           float64
total_cases_per_million              float64
new_cases_per_million                float64
total_deaths_per_million             float64
new_deaths_per_million               float64
new_tests                            float64
total_tests                          float64
total_tests_per_thousand             float64
new_tests_per_thousand               float64
hospital_beds_per_thousand           float64
dtype: object

In [86]:
response_world.isnull().sum()

iso_code                         64
continent                       277
location                          0
date                              0
total_cases                     355
new_cases                       355
total_deaths                    355
new_deaths                      355
total_cases_per_million         419
new_cases_per_million           419
total_deaths_per_million        419
new_deaths_per_million          419
new_tests                     22951
total_tests                   22723
total_tests_per_thousand      22723
new_tests_per_thousand        22951
hospital_beds_per_thousand     6109
dtype: int64

In [87]:
response_world.to_csv(path_world, index=False)