## Canada COVID data processing

In [1]:
import pandas as pd
import os

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [2]:
path_canada = os.path.join(os.getcwd(), 'data', 'covid19canada.csv') 
url = 'https://health-infobase.canada.ca/src/data/covidLive/covid19.csv'
response = pd.read_csv(url)

In [3]:
response.head()

,pruid,prname,prnameFR,date,numconf,numprob,numdeaths,numtotal,numtested,numrecover,percentrecover,ratetested,numtoday,percentoday,ratetotal,ratedeaths,deathstoday,percentdeath,testedtoday,recoveredtoday,percentactive,numactive,rateactive,numtotal_last14,ratetotal_last14,numdeaths_last14,ratedeaths_last14
0,35,Ontario,Ontario,31-01-2020,3,0,0.0,3,NaN,NaN,NaN,NaN,3,300.0,0.02,0.0,0.0,0.0,NaN,NaN,100.0,3.0,0.02,NaN,NaN,NaN,NaN
1,59,British Columbia,Colombie-Britannique,31-01-2020,1,0,0.0,1,NaN,NaN,NaN,NaN,1,100.0,0.02,0.0,0.0,0.0,NaN,NaN,100.0,1.0,0.02,NaN,NaN,NaN,NaN
2,1,Canada,Canada,31-01-2020,4,0,0.0,4,NaN,NaN,NaN,NaN,4,400.0,0.01,0.0,0.0,0.0,NaN,NaN,100.0,4.0,0.01,NaN,NaN,NaN,NaN
3,35,Ontario,Ontario,08-02-2020,3,0,0.0,3,NaN,NaN,NaN,NaN,0,0.0,0.02,0.0,0.0,0.0,NaN,NaN,100.0,3.0,0.02,NaN,NaN,NaN,NaN
4,59,British Columbia,Colombie-Britannique,08-02-2020,4,0,0.0,4,NaN,NaN,NaN,NaN,3,300.0,0.08,0.0,0.0,0.0,NaN,NaN,100.0,4.0,0.08,NaN,NaN,NaN,NaN

In [4]:
response.columns

Index(['pruid', 'prname', 'prnameFR', 'date', 'numconf', 'numprob',
       'numdeaths', 'numtotal', 'numtested', 'numrecover', 'percentrecover',
       'ratetested', 'numtoday', 'percentoday', 'ratetotal', 'ratedeaths',
       'deathstoday', 'percentdeath', 'testedtoday', 'recoveredtoday',
       'percentactive', 'numactive', 'rateactive', 'numtotal_last14',
       'ratetotal_last14', 'numdeaths_last14', 'ratedeaths_last14'],
      dtype='object')

- `pruid`: province id
- **`prname`: (English )province name
- `prnameFR`: (French) province name
- **`date`: date reported
- **`numconf`: number of confirmed cases
- **`numprob`: number of probable cases
- **`numdeaths`: number of deaths
- **`numtotal`: total # of confirmed and probable cases
- **`numtested`: number of people tested
- **`numrecover`: number of people recovered
- **`percentrecover`: numrecover / numtotal
- `ratetested`: 
- **`numtoday`: number of new cases relative to yesterday
- `percentoday`:  percent change of new cases relative to yesterday
- `ratetotal`:
- `ratedeaths`:
- **`deathstoday`: number of deaths reported today
- `percentdeath`: 
- **`testedtoday`: number of people tested today
- `recoveredtoday`: number of people who have recovered today
- `percentactive`:

In [5]:
response = response.drop(columns=['pruid', 'prnameFR', 'percentoday',
                                  'ratetested', 'ratetotal', 'ratedeaths',
                                  'percentdeath', 'percentactive','numtotal_last14',
                                  'ratetotal_last14', 'numdeaths_last14', 'ratedeaths_last14'])

In [6]:
response['date'] = pd.to_datetime(response['date'], dayfirst=True)

In [7]:
response.dtypes

prname                    object
date              datetime64[ns]
numconf                    int64
numprob                    int64
numdeaths                float64
numtotal                   int64
numtested                float64
numrecover               float64
percentrecover           float64
numtoday                   int64
deathstoday              float64
testedtoday              float64
recoveredtoday           float64
numactive                float64
rateactive               float64
dtype: object

In [8]:
response.isnull().sum()

prname              0
date                0
numconf             0
numprob             0
numdeaths         110
numtotal            0
numtested          57
numrecover        524
percentrecover    630
numtoday            0
deathstoday       110
testedtoday        57
recoveredtoday    524
numactive         290
rateactive        142
dtype: int64

In [9]:
response.describe(include='all')

,prname,date,numconf,numprob,numdeaths,numtotal,numtested,numrecover,percentrecover,numtoday,deathstoday,testedtoday,recoveredtoday,numactive,rateactive
count,2187,2187,2187.000000,2187.000000,2077.000000,2187.000000,2.130000e+03,1663.000000,1557.000000,2187.000000,2077.000000,2130.000000,1663.000000,1897.000000,2045.000000
unique,15,158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Canada,2020-06-14 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,158,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
first,NaN,2020-01-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,2020-07-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,8728.978509,2.826703,691.680308,8731.804298,2.099332e+05,6824.125075,78.167399,105.889346,8.596533,3752.699531,127.193626,3326.733790,24.963707
std,NaN,NaN,21872.584103,28.071511,1844.331871,21873.827092,5.453145e+05,16044.454809,26.234846,279.703585,27.053183,8742.233998,899.942751,8335.822897,62.982667
min,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,-1.000000,-2.000000,-20682.000000,-5.000000,0.000000,0.000000
25%,NaN,NaN,13.000000,0.000000,0.000000,13.000000,1.421500e+03,13.000000,66.390000,0.000000,0.000000,11.000000,0.000000,3.000000,0.100000
50%,NaN,NaN,256.000000,0.000000,3.000000,257.000000,2.022400e+04,259.000000,88.430000,1.000000,0.000000,323.500000,0.000000,52.000000,3.610000
75%,NaN,NaN,2488.500000,0.000000,118.000000,2502.500000,1.007458e+05,2771.000000,98.080000,33.000000,1.000000,2104.750000,41.500000,673.000000,15.820000
max,NaN,NaN,115785.000000,833.000000,8929.000000,115799.000000,3.996625e+06,100862.000000,100.000000,2760.000000,222.000000,78091.000000,23853.000000,35001.000000,355.240000

In [10]:
response = response.sort_values(by=['prname', 'date'])

In [11]:
# Impute missing values

provinces = response['prname'].value_counts().index
impute_cols = ['numdeaths', 'numtested', 'deathstoday',
               'testedtoday', 'recoveredtoday', 'numrecover', 'percentrecover']

for p in provinces:
    for colname in impute_cols:
        response.loc[response['prname']==p, colname] = response.loc[response['prname']==p, colname].ffill().fillna(0)

In [12]:
response.isnull().sum()

prname              0
date                0
numconf             0
numprob             0
numdeaths           0
numtotal            0
numtested           0
numrecover          0
percentrecover      0
numtoday            0
deathstoday         0
testedtoday         0
recoveredtoday      0
numactive         290
rateactive        142
dtype: int64

In [13]:
response.to_csv(path_canada, index=False)

## World COVID data processing

In [14]:
path_world = os.path.join(os.getcwd(), 'data', 'covid19world.csv') 
url_world = 'https://covid.ourworldindata.org/data/owid-covid-data.csv'
response_world = pd.read_csv(url_world)
response_world.head()

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,new_tests,total_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,tests_units,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
0,ABW,North America,Aruba,2020-03-13,2.0,2.0,0.0,0.0,18.733,18.733,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,106766.0,584.8,41.2,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29
1,ABW,North America,Aruba,2020-03-20,4.0,2.0,0.0,0.0,37.465,18.733,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.33,106766.0,584.8,41.2,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29
2,ABW,North America,Aruba,2020-03-24,12.0,8.0,0.0,0.0,112.395,74.930,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.44,106766.0,584.8,41.2,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29
3,ABW,North America,Aruba,2020-03-25,17.0,5.0,0.0,0.0,159.227,46.831,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.44,106766.0,584.8,41.2,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29
4,ABW,North America,Aruba,2020-03-26,19.0,2.0,0.0,0.0,177.959,18.733,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.44,106766.0,584.8,41.2,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29

In [15]:
response_world = response_world.drop(
    columns=['new_tests_smoothed', 'new_tests_smoothed_per_thousand', 'tests_units',
             'stringency_index', 'population', 'population_density', 'median_age',
             'aged_65_older', 'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
             'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
             'male_smokers', 'handwashing_facilities', 'life_expectancy']
)
response_world = response_world.loc[response_world['location'] != 'International']

In [16]:
response_world['date'] = pd.to_datetime(response_world['date'], yearfirst=True)
response_world = response_world.sort_values(by=['location', 'date'])

# Impute missing values
locations = pd.unique(response_world['location'])
impute_cols = ['new_tests', 'total_tests', 'total_tests_per_thousand', 'new_tests_per_thousand']

for loc in locations:
    for colname in impute_cols:
        response_world.loc[response_world['location'] == loc, colname] = \
            response_world.loc[response_world['location'] == loc, colname].ffill()

In [17]:
response_world.dtypes

iso_code                              object
continent                             object
location                              object
date                          datetime64[ns]
total_cases                          float64
new_cases                            float64
total_deaths                         float64
new_deaths                           float64
total_cases_per_million              float64
new_cases_per_million                float64
total_deaths_per_million             float64
new_deaths_per_million               float64
new_tests                            float64
total_tests                          float64
total_tests_per_thousand             float64
new_tests_per_thousand               float64
hospital_beds_per_thousand           float64
dtype: object

In [18]:
response_world.isnull().sum()

iso_code                          0
continent                       214
location                          0
date                              0
total_cases                     341
new_cases                       341
total_deaths                    341
new_deaths                      341
total_cases_per_million         341
new_cases_per_million           341
total_deaths_per_million        341
new_deaths_per_million          341
new_tests                     23125
total_tests                   22888
total_tests_per_thousand      22888
new_tests_per_thousand        23125
hospital_beds_per_thousand     6070
dtype: int64

In [20]:
response_world.to_csv(path_world, index=False)